<ion-header  id="chats-header">
  <ion-toolbar color="--ion-color-dark" mode="ios">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon id="mas"  name="ellipsis-horizontal-circle-sharp" size="large"></ion-icon>      
      </ion-button>
      </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="camera"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon id="añadir" name="add-circle-sharp" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-title><strong>Chats</strong></ion-title>
  <ion-searchbar placeholder="Preguntar a Meta AI o buscar" mode="ios"></ion-searchbar>
</ion-header>