<ion-item class="item-stories" mode="ios" lines="none">
    <ion-avatar slot="start">
      <img alt="" [src]="image" />
    </ion-avatar>
    <ion-label mode="ios">
      <strong>{{username}}</strong>
      <ion-note color="medium">
        <br>
        {{date}}
      </ion-note>
    </ion-label>
  </ion-item>


<ion-item class="item-stories" mode="ios" lines="none">
    <ion-avatar slot="start">
      <img alt="" [src]="image" />
    </ion-avatar>
    <ion-label mode="ios">
      <strong>{{username}}</strong>
      <ion-note color="medium">
        <br>
        {{date}}
      </ion-note>
    </ion-label>
  </ion-item>